@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.rubik-font {
   font-family: "Rubik", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
 }
*
{
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   box-sizing: border-box;
   font-family: "Rubik", sans-serif;
   text-decoration: none;
}
*::before,
*::after {
  box-sizing: border-box;
}
:root{
   --bg-color: #fab01a;
}
section{
   padding: 0 10%;
}
header
{
   padding: 0 10%;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 1000; 
   transition: 0.6s;
}
.navbar
{
   display: flex;
}
.navbar a {
   font-size: 1rem;
   font-weight: 500;
   color: black;
   text-decoration: none;
   padding: 8px 15px;
   transition: all 0.15s ease;
   border-radius: 10px;
}
header ul li
{
   list-style: none;
   margin-left: 20px;
}
.navbar a:hover{
   background-color: black;
   color: white;
}

header a img
{
   height: 65px; 
}

header.sticky {
   background-color: #ffc300;
   /* background-image: radial-gradient(circle, #fde8a3, #fddf84, #fdd764, #fecd41, #ffc300); */
}

#menu-icon{
   font-size: 24px;
   cursor: pointer;
   display: none;
   z-index: 10001;
}
body{
   transition: background-color 1s ease;
}
.home{
   background-image: radial-gradient(circle, #ffebaa, #ffe28a, #ffd868, #ffce43, #ffc300);
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
   width: 100%;
   min-height: 100vh;
   align-items: center;
   overflow: hidden
}
.home-text{
   display: flex;
   align-items: center;
   flex-direction: column;
   text-align: center;
   margin-bottom: 3rem;
} 
.home-text h1{
   font-size: 3.4rem;
}
.home-text h2{
   font-size: 1.6rem;
   font-weight: bolder;
}
.home-text p{
   font-weight: 400;
   margin: 0.7rem 0 1rem;
}
.home-text span{
   position: relative;
   overflow: hidden;
   display: block;
   line-height: 1.2;
}
.home-text span::after{
   content: '';
   position:absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: var(--bg-color);
   animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}
.home-text span::before{
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: #ffc300;
   animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
   transform: translateX(0);
}

.home-text span:nth-of-type(1)::before,
.home-text span:nth-of-type(1)::after{
    animation-delay: 1s;
}

.home-text span:nth-of-type(2)::before,
.home-text span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}
.icon-grid{
   top: 0;
   left: 0;
   position: absolute;
   display: grid;
   grid-template-columns: repeat(13, 1fr);
   grid-template-rows: repeat(auto-fill,1fr);
   gap: 20px;
   width: 100%;
   height: 100%;
   z-index: 0;
}
.icon-grid .bx{
   overflow: visible;
   font-size: 5rem;
   color: var(--bg-color);
   opacity: 0.4;
   transform: rotate(50deg);
}
.btn{
   display: inline-block;
   background: black;
   padding: 0.8rem 2rem;
   color: #fff;
   font-weight: 500;
}
.btn:hover{
   background: #fff;
   color: black;
   letter-spacing: 2px;
   transition: 0.2s;
}

.contact-icons{
   position: absolute;
   bottom: 1rem;
   right: 1rem;
}

.contact-icons .button {
   display: inline-block;
   height: 60px;
   width: 60px;
   float: left;
   text-decoration: none;
   margin: 0 5px;
   overflow: hidden;
   background: #fff;
   border-radius: 50px;
   cursor: pointer;
   box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease-out;
}

.contact-icons .button:hover{
   width: 200px;
}

.contact-icons .button .icon{
   display: inline-block;
   height: 60px;
   width: 60px;
   color: #000;
   text-align: center;
   border-radius: 50px;
   box-sizing: border-box;
   line-height: 60px;
   transition: all 0.3s ease-out;
}

.contact-icons .button:nth-child(1):hover .icon {
   background: #4267B2;
 }
 .contact-icons .button:nth-child(2):hover .icon {
   background: #E1306C;
 }
 .contact-icons .button:nth-child(3):hover .icon {
   background: #333;
 }

.contact-icons .button .icon i {
   font-size: 25px;
   line-height: 60px;
   transition: all 0.3s ease-out;
}
.contact-icons .button:hover .icon i{
   color: #fff;
}
.wrapper .button span {
   font-size: 20px;
   font-weight: 500;
   line-height: 60px;
   margin-left: 10px;
   transition: all 0.3s ease-out;
}

.contact-icons .button:nth-child(1) span {
   color: #4267B2;
 }
 .contact-icons .button:nth-child(2) span {
   color: #E1306C;
 }
 .contact-icons .button:nth-child(4) span {
   color: #333;
 }

 .about{
   margin-top: 10%;
   position: relative;
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   min-height: 100vh;
 }

 /* .about::before{
   margin-top: 0;
   content: '';
   position: absolute;
   width: 100%;
   left: 0;
   top: -12%;
   height: 50px;
   background-color: black;
 } */

 .about h1{
   width: 100%;
   padding: 0 0 10%;
   text-align: center;
   font-weight: 700;
   font-size: 3.6rem;
 }
.about-content{
   display: flex;
   justify-content: space-between;
   width: 100%;
}
 .about-text{
   max-width: 35%;
   position: sticky;
   top: 170px;
   align-self: flex-start;
   padding-right: 20px;
 }

 .about-text h2{
   font-size: 1.6rem;
   font-weight: 500;
   color: #FFBA00;
   text-shadow: 
   -1px -1px 0 black,  
    1px -1px 0 black,
   -1px  1px 0 black,
    1px  1px 0 black;
   margin-bottom: 1rem;
 }
 .about-text p{
   margin-bottom: 1.5rem;
   font-size: 1.1rem;
 }

.img-about{
   display: flex;
   flex-direction: column;
}

 .img-about img{
   width: 100%;
   max-width: 675px;
   height: auto;
   margin-bottom: 8rem;
 }

 .spacer{
   aspect-ratio: 960/300;
   width: 100%;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }

 .layer1{
   background-image: url(layer2.svg);
 }

 
/* BEFORE / AFTER */

 .before-after {
   position: relative;
   display: grid;
   place-items: center;
   min-height: 100vh;
   background-color: #ffc300;
 }

.before-after h1{
   font-size: 3.2rem;
   font-weight: bolder;
}

 .container {
   position: relative;
   width: 900px;
   height: 600px;
   border: 2px solid black;
 }
 .img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: 900px 100%;
 }
 .background-img {
   background-image: url('after-img.jpg');
 }
 .foreground-img {
   background-image: url('before-img.jpg');
   width: 50%;
 }
 
 .slider {
   position: absolute;
   -webkit-appearance: none;
   appearance: none;
   width: 100%;
   height: 100%;
   background: rgba(242, 242, 242, 0.3);
   outline: none;
   margin: 0;
   transition: all 0.2s;
   display: flex;
   justify-content: center;
   align-items: center;
}

.slider:hover {
   background: rgba(242, 242, 242, 0.1);
}

.slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 6px;
   height: 600px;
   background: white;
   cursor: pointer;
}

.heading{
   text-align: center;
}

.heading h1{
   font-size: 3.6rem;
   font-weight: bolder;
   margin-bottom: 5%;
   
}

.team{
   /* background-image: linear-gradient(to bottom, #fcc300, #96af32, #4d8d50, #316555, #383b3b); */
   background-image: linear-gradient(to bottom, #fcc300, #ffb681, #ffc6d7, #ffe6ff, #ffffff);
   padding-top: 5%;
   padding-bottom: 5%;
}

.team-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
   gap: 1.5rem;
   margin-top: 2rem;
}

.team-container .box{
   position: relative;
   height: 220px;
   box-shadow: 10px 11px 11px rgb(14 55 54 / 15%);
   overflow: hidden;
   border-radius: 0.5rem;
}

.team-container .box .box-img{
   width: 100%;
   height: 100%;
}
.team-container .box .box-img img{
   width: 100%;
   height: 100%;
   /* object-fit: cover; */
}

.team-container .box .content{
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   top: -100%;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   background: rgb(28, 40, 68, 0.8);
}

.team-container .box .content .bx{
   padding: 10px;
   font-size: 24px;
   border-radius: 4px;
   background: #fff;
}

.team-container .box .content h3{
   color: #fff;
   font-size: 1.1rem;
   font-weight: 600;
   margin: 10px;
}

.team-container .box:hover .content{
   top: 0;
   transition: 0.2s;
}

.contact-form{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 2rem;
   margin-bottom: 5%;
}
.contact-form form{
   position: relative;
   width: 400px;
}
form input, form textarea{
   width: 100%;
   padding: 14px;
   border: none;
   outline: none;
   background: rgb(252, 195, 0.8);
   margin-bottom:  0.5rem;
   border-radius: 4px;
   color: black;
}

form input::placeholder,
form textarea::placeholder{
   color: black;
}
textarea {
   resize: none;
   height: 200px;
}

form .send-btn {
   max-width: 130px;
   font-size: 1rem;
   font-weight: 500;
   text-transform: uppercase;
}

form .send-btn:hover{
   background-color: #9BB235;
}

.copyright{
   padding: 20px;
   text-align: center;
   color: black;
   background: #fcc300;
}

@media (max-width: 991px) {
   header {
      padding: 4px 2%;
   }
   .container {
      height: 500px;
      width: 600px;
   }
   .img {
      background-size: 500px 100%;
   }
   .slider::-webkit-slider-thumb{
      height: 500px;
   }

}
@media (max-width: 881px){
   .home-text h1{
      font-size: 3rem;
   }
   .home-text h2 {
      font-size: 1.2rem;
   }

   .home-text p {
      font-size: 0.944rem;
   }
   .about h1{
      font-size: 3rem;
   }
   .about-text h2{
      font-size: 1.2rem;
   }
   .about-text p{
      font-size: 0.944rem;
   }
}
@media (max-width: 768px){
   #menu-icon{
      display: initial;
   }
   header{
      padding: 4px 4%;
      background-color: #ffc300;
   }
   header .navbar{
      position: absolute;
      top: -500px;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      background: #ffc300;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
      transition: 0.2s ease;
      text-align: left;
   }
   .navbar.active {
      top: 100%;
   }
   .navbar a{
      padding: 1rem;
      border-left: 2px solid black;
      margin: 1rem;
      display: block;
      border-radius: 0;
   }
   .navbar a:hover{
      color:#fff;
      background: #000;
      border: none;
   }
}
@media (max-width:634px){
   .home h1 {
      font-size: 2.8rem;
   }
   .about h1{
      font-size: 2.8rem;
   }
   .about-text p {
      font-size: 0.88rem;
   }
   .heading h1{
      font-size: 2.8rem;
   }
   .before-after h1{
      font-size: 2.4rem;
      margin-top: 4rem;
   }
   .container {
      height: 400px;
      width: 450px;
   }
   .img {
      background-size: 450px 100%;
   }
   .slider::-webkit-slider-thumb{
      height: 400px;
   }
}

@media (max-width: 350px) {
   .home-text h1{
      font-size: 2rem;
   }
   .home-text h2{
      font-size: 1rem;
   }
   .btn{
      padding: 0.6rem 1.7rem;
   }
   .about h1 {
      font-size: 2rem;
   }
   .about-text p {
      font-size: 0.6rem;
   }
   .heading h1{
      font-size: 2rem;
   }
   .before-after h1{
      font-size: 2rem;
      margin-top: 4rem;
   }
   .container {
      height: 200px;
      width: 250px;
   }
   .img {
      background-size: 2000px 100%;
   }
   .slider::-webkit-slider-thumb{
      height: 200px;
   }
}