@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.rubik-font {
   font-family: "Rubik", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
 }
*
{
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   box-sizing: border-box;
   font-family: "Rubik", sans-serif;
   text-decoration: none;
}
*::before,
*::after {
  box-sizing: border-box;
}
:root{
   --bg-color: #fab01a;
}
section{
   padding: 0 10%;
}
header
{
   padding: 0 10%;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 1000; 
}
header ul
{
   display: flex;
   justify-content: center;
   align-items: center;
}

header ul li
{
   list-style: none;
   margin-left: 20px;
}

header ul li a
{
   font-size: 1rem;
   text-decoration: none;
   padding: 8px 15px;
   transition: all 0.15s ease;
   border-radius: 10px;
   color: black;
   font-weight: 500;
}

header ul li a:hover{
   background-color: black;
   color: white;
}

header a img
{
   height: 65px; 
}
#menu-icon{
   font-size: 24px;
   cursor: pointer;
   display: none;
   z-index: 10001;
}
body{
   transition: background-color 1s ease;
}
.home{
   background-image: radial-gradient(circle, #ffebaa, #ffe28a, #ffd868, #ffce43, #ffc300);
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
   width: 100%;
   min-height: 100vh;
   align-items: center;
   overflow: hidden
}
.home-text{
   display: flex;
   align-items: center;
   flex-direction: column;
   text-align: center;
   margin-bottom: 3rem;
} 
.home-text h1{
   font-size: 3.4rem;
}
.home-text h2{
   font-size: 1.6rem;
   font-weight: bolder;
}
.home-text p{
   font-weight: 400;
   margin: 0.7rem 0 1rem;
}
.home-text span{
   position: relative;
   overflow: hidden;
   display: block;
   line-height: 1.2;
}
.home-text span::after{
   content: '';
   position:absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: var(--bg-color);
   animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}
.home-text span::before{
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: #ffc300;
   animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
   transform: translateX(0);
}
.home-text span:nth-of-type(1)::before,
.home-text span:nth-of-type(1)::after{
    animation-delay: 1s;
}

.home-text span:nth-of-type(2)::before,
.home-text span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}
.icon-grid{
   top: 0;
   left: 0;
   position: absolute;
   display: grid;
   grid-template-columns: repeat(13, 1fr);
   grid-template-rows: repeat(auto-fill,1fr);
   gap: 20px;
   width: 100%;
   height: 100%;
   z-index: 0;
}
.icon-grid .bx{
   overflow: visible;
   font-size: 5rem;
   color: var(--bg-color);
   opacity: 0.4;
   transform: rotate(50deg);
}
.btn{
   display: inline-block;
   background: black;
   padding: 0.8rem 2rem;
   color: #fff;
   font-weight: 500;
}
.btn:hover{
   background: #fff;
   color: black;
   letter-spacing: 2px;
   transition: 0.2s;
}

.contact-icons{
   position: absolute;
   bottom: 1rem;
   right: 1rem;
}

.contact-icons .button {
   display: inline-block;
   height: 60px;
   width: 60px;
   float: left;
   text-decoration: none;
   margin: 0 5px;
   overflow: hidden;
   background: #fff;
   border-radius: 50px;
   cursor: pointer;
   box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease-out;
}

.contact-icons .button:hover{
   width: 200px;
}

.contact-icons .button .icon{
   display: inline-block;
   height: 60px;
   width: 60px;
   color: #000;
   text-align: center;
   border-radius: 50px;
   box-sizing: border-box;
   line-height: 60px;
   transition: all 0.3s ease-out;
}

.contact-icons .button:nth-child(1):hover .icon {
   background: #4267B2;
 }
 .contact-icons .button:nth-child(2):hover .icon {
   background: #E1306C;
 }
 .contact-icons .button:nth-child(3):hover .icon {
   background: #333;
 }

.contact-icons .button .icon i {
   font-size: 25px;
   line-height: 60px;
   transition: all 0.3s ease-out;
}
.contact-icons .button:hover .icon i{
   color: #fff;
}
.wrapper .button span {
   font-size: 20px;
   font-weight: 500;
   line-height: 60px;
   margin-left: 10px;
   transition: all 0.3s ease-out;
}

.contact-icons .button:nth-child(1) span {
   color: #4267B2;
 }
 .contact-icons .button:nth-child(2) span {
   color: #E1306C;
 }
 .contact-icons .button:nth-child(4) span {
   color: #333;
 }

 .about{
   margin-top: 0;
   position: relative;
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   min-height: 100vh;
 }

 .about h1{
   width: 100%;
   padding: 0 0 10%;
   text-align: center;
   font-weight: 500;
   font-size: 3.4rem;
 }
.about-content{
   display: flex;
   justify-content: space-between;
   width: 100%;
}
 .about-text{
   max-width: 35%;
   position: sticky;
   top: 170px;
   align-self: flex-start;
   padding-right: 20px;
 }

 .about-text h2{
   font-size: 1.6rem;
   font-weight: 500;
   color: #FFBA00;
   text-shadow: 
   -1px -1px 0 black,  
    1px -1px 0 black,
   -1px  1px 0 black,
    1px  1px 0 black;
   margin-bottom: 1rem;
 }
 .about-text p{
   margin-bottom: 1.5rem;
   font-size: 1.1rem;
 }

.img-about{
   display: flex;
   flex-direction: column;
}

 .img-about img{
   width: 100%;
   max-width: 675px;
   height: auto;
   margin-bottom: 8rem;
 }

 .spacer{
   aspect-ratio: 960/300;
   width: 100%;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }

 .layer1{
   background-image: url(layer2.svg);
 }

 
/* BEFORE / AFTER */


 .img-container img{
   display: block;
   width: 100%;
 }
 .before-after {
   position: relative;
   display: grid;
   place-items: center;
   min-height: 100vh;
   background-color: #ffc300;
   /* background-image: linear-gradient(to right bottom, #f9d357, #facf48, #fccb38, #fdc725, #ffc300); */
 }

 .before-after h1{
 }
 
 .container {
   display: grid;
   place-content: center;
   position: relative;
   overflow: hidden;
   border-radius: 1rem;
   --position: 50%;
 }
 
 .image-container {
   max-width: 800px;
   max-height: 90vh;
   aspect-ratio: 1/1;
 }
 
 .slider-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: left;
 }
 
 .image-before {
   position: absolute;
   inset: 0;
   width: var(--position);
 }
 
 .slider {
   position: absolute;
   inset: 0;
   cursor: pointer;
   opacity: 0;
   /* for Firefox */
   width: 100%;
   height: 100%;
 }
 
 .slider:focus-visible ~ .slider-button {
   outline: 5px solid black;
   outline-offset: 3px;
 }
 
 .slider-line {
   position: absolute;
   inset: 0;
   width: .2rem;
   height: 100%;
   background-color: #fff;
   /* z-index: 10; */
   left: var(--position);
   transform: translateX(-50%);
   pointer-events: none;
 }
 
 .slider-button {
   position: absolute;
   background-color: #fff;
   color: black;
   padding: .5rem;
   border-radius: 100vw;
   display: grid;
   place-items: center;
   top: 50%;
   left: var(--position);
   transform: translate(-50%, -50%);
   pointer-events: none;
   /* z-index: 100; */
   box-shadow: 1px 1px 1px hsl(0, 50%, 2%, .5);
 }

